<div class="anuncio-lateral anuncio-grande">
  <h4>Publicidade</h4>
  <img src="/assets/imagem_x.gif" width="250" height="252" />
</div>

<div class="programa-lateral">
  <img src="/assets/lateral-programa-gestao-em-acao.jpg" />
  <img src="/assets/lateral-programa-olho-no-olho.jpg" />
</div>

<% 5.times do %>
<div class="anuncio-lateral anuncio-grande">
  <h4>Publicidade</h4>
  <img src="/assets/imagem_x.gif" width="250" height="120" />
</div>
<% end %>
