<div id="menu-topo">
  <ul>
    <% menu_programas.each_with_index do |programa,i| %>
      <li><%=link_to programa.nome, programa_path(programa),style: "color:#{programa.cor}"%></li>
      <%=content_tag(:li,'',class: 'separador-menu-topo') if i != (menu_programas.size - 1) %>
    <% end %>
  </ul>
</div>
