div.wrap-banner {
width : 338px;
margin : 0 auto;
text-align : left;
}
div#top div#nav {
float : left;
clear : both;
width : 338px;
height : 52px;
margin : 22px 0 0;
}
div#top div#nav ul {
float : left;
width : 700px;
height : 52px;
list-style-type : none;
}
div#nav ul li {
float : left;
height : 52px;
}
div#nav ul li a {
border : 0;
height : 52px;
display : block;
line-height : 52px;
text-indent : -9999px;
}
div.wrap-banner {
height : 240px;
}
div#slide-holder {
z-index : 40;
width : 338px;
height : 240px;
position : absolute;
}
div#slide-holder div#slide-runner {
/*top : 9px;
left : 9px;*/
width : 338px;
height : 286px;
overflow : hidden;
position : absolute;
}
div#slide-holder img {
margin : 0;
display : none;
position : absolute;
}
div#slide-holder div#slide-controls {
left : 0;
bottom : 0;
width : 338px;
height : 46px;
display : none;
position : absolute;
background : url(/assets/slide-bg.png) 0 0;
}
div#slide-holder div#slide-controls *{
	color:#fff;
}

div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 10px;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
div#slide-holder div#slide-controls p#slide-nav {
float : right;
height : 24px;
display : inline;
margin : 11px 15px 0 0;
}
div#slide-holder div#slide-controls p#slide-nav a {
float : left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
margin : 0 5px 0 0;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
}
div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#slide-holder div#slide-controls p#slide-nav a {
background-image : url(/assets/silde-nav.png);
}
div#nav ul li a {
background : url(/assets/nav.png) no-repeat;
}