/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require layout
 *= require_self
 *= require frontend/slider
 */

.coluna-esquerda .max{
	width: 340px;
	margin-bottom: 16px;
	float: left;
}


#slider{
	float: left;
/*	border:1px solid #ccc;*/
	height: 286px;
}

h2{
	margin-bottom: 10px;
	color: #9F0005;
}

#ultimos-videos .video{
	width: 338px;
}
