body{
	background-color: #DBDBDB;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container{
	margin: 0 auto;
	width: 1000px;
	background-color: #fff;
}

#cabecalho{
	height: 155px;
}

#cabecalho #linha-topo{
	background: url('/assets/linha-topo.gif') repeat-x;
	height: 5px;
}

#logo{
	width: 264px;
	height: 76px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}

#conteudo-topo{
	width: 400px;
	float: right;
	height: 76px;
	margin-top: 15px;
}

#busca-topo{
	margin-top: 46px;
	float: right;
	width: 232px;
	height: 25px;
	background: url('/assets/bg-busca-topo.gif') no-repeat;
}

#busca-topo #termo{
	border: 0;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 3px;
	color: #aeaeae;
	float:left;
	width:140px;
}

#cabecalho #menu-topo{
	background: url('/assets/bg-menu-topo.gif') repeat-x;
	height: 37px;
	margin-top: 20px;
	text-align: center;
	padding-top: 12px;
}

#cabecalho #menu-topo ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}

#cabecalho #menu-topo ul li{
	display: inline;
}

#cabecalho #menu-topo ul li.separador-menu-topo{
	margin:0 10px;
}

#cabecalho #menu-topo ul li *{
	font-size: 14px;
	text-transform: uppercase;
	;
}


.vermelho, .vermelho a{
	color: #9F0005;
}

.cinza, .cinza a{
	color: #909090;
}

.amarelo, .amarelo a{
	color: #F9A543;
}

.azul, .azul a{
	color: #0F50B8;
}

.verde, .verde a{
	color: #167E29;
}

.vermelho-claro, .vermelho-claro a{
	color: #F95259;
}

.ciano, .ciano a{
	color: #49BBFA;
}

.rosa-choque, .rosa-choque a{
	color: #CB38BC;
}

#conteudo{
	margin-top: 14px;
	margin-left: 4px;
	margin-right: 4px;
/*	float: left;*/
	height: 300px;
}

#conteudo-central{
	width: 720px;
	float: left;
}

#lateral-direita{
	float: right;
	width: 252px;
}

.anuncio-lateral{
	width:250px;
	float:right;
	margin-bottom:10px;
}

.anuncio-lateral h4{
	color: #a20000;
	text-align:right;
	margin-bottom:2px;
}

.programa-lateral img{
	margin-top:10px;
}
.programa-lateral{
	margin-bottom:20px;
	float:right;
}

#lateral-direita .postagens{
	margin-bottom:20px;
}

#lateral-direita .postagens h2{
	font-size:16px;
}

#lateral-direita .postagens h3 *{
	font-size:12px;
}


#rodape{
	margin-top: 15px;
	background: url('/assets/bg-rodape.png') repeat-x;
	height: 136px;
/*	padding: 4px;*/
}

.mt{
	margin-top:6px;
}

h3{
	font-size:14px;
	margin-bottom:6px;
	font-weight:bold;
}
h3 *{
	font-size:14px;
	font-weight:bold;
}

h2{
	font-size:20px;
	margin-bottom: 10px;
}
h2 *{
	font-size:20px;
}

h1 {
	font-size: 22px;
	margin-bottom: 10px;
}

h1 *{
	font-size: 22px;
}


.lista-noticias{
	list-style-image:url('/assets/bg-lista-noticicas.gif');
	/*margin-left:40px;*/
	list-style-position:inside;
}
.lista-noticias li{
	margin-bottom:8px;
}


.coluna-esquerda{
	float:left;
	width: 346px;
}

.coluna-direita{
	float:right;
	width: 370px;
/*	border: 1px solid #000;*/
}

.coluna-esquerda p, .coluna-direita p{
	margin-bottom:10px;
}

.coluna-esquerda hr, .coluna-direita hr{
	margin:12px 0;
}