<!DOCTYPE html>
<html>
<head>
  <title>Super Canal - 24 horas no ar</title>
  <%= stylesheet_link_tag    "inicial", :media => "all" %>
  <%= javascript_include_tag "inicial" %>
  <%= yield(:header) if content_for?(:header)%>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="cabecalho">
		  <div id="linha-topo"></div>
		  <%=render partial: 'shared/logo_e_conteudo_topo' %>
			<div class="clear"></div>
			<%=render partial: 'shared/menu_topo' %>
		</div>
		<div class="clear"></div>
		<div id="conteudo">
  		<div id="conteudo-central">
  			<%= yield %>
  		</div>
  		<div id="lateral-direita">
  		  <%=render partial: 'shared/lateral_direita' %>
  		</div>
		</div>
		<div class="clear"></div>
		<div id="rodape">
      <%=render partial: 'shared/rodape' %>
		</div>
	</div>
</body>
</html>
